<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content=" " name="description" />
    <meta content="" name="author" />
    <title>@ViewData["Title"] - YPM.Web</title>
    <environment include="Development">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="~/wwwroot/global/simple-line-icons/simple-line-icons.css" rel="stylesheet" type="text/css" />
        <link href="~/wwwroot/global/bootstrap-switch/bootstrap-switch.css" rel="stylesheet" type="text/css" />    
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="~/wwwroot/global/components.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="~/wwwroot/global/plugins.css" rel="stylesheet" type="text/css" />
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="~/wwwroot/global/style.css" rel="stylesheet" type="text/css" />
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="~/wwwroot/global/admin-layout/layout.css" rel="stylesheet" type="text/css" />
        <link href="~/wwwroot/global/admin-theme/default.css" rel="stylesheet" type="text/css" id="style_color" />
        <link href="~/wwwroot/global/bootstrap-select/bootstrap-select.css" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="favicon.ico" /> 
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">    
        <link href="~/wwwroot/global/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="~/wwwroot/global/bootstrap-switch/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />    
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="~/wwwroot/global/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="~/wwwroot/global/plugins.min.css" rel="stylesheet" type="text/css" />
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="~/wwwroot/global/style.min.css" rel="stylesheet" type="text/css" />
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="~/wwwroot/global/admin-layout/layout.min.css" rel="stylesheet" type="text/css" />
        <link href="~/wwwroot/global/admin-theme/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
        <link href="~/wwwroot/global/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
            
    </environment>
   
</head>
<body>
   
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - YPM.Web</p>
        </footer>
    </div>
    <environment include="Development">
        <!-- BEGIN CORE PLUGINS -->
        <script src="http://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="~/wwwroot/js/admin-js/js.cookie.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/wwwroot/js/admin-js/slim-scroll/jquery.slimscroll.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/wwwroot/js/admin-js/jquery.blockui.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/wwwroot/js/admin-js/bootstrap-switch/bootstrap-switch.js" type="text/javascript" asp-append-version="true"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="~/wwwroot/js/admin-js/js-tree/jstree.js" type="text/javascript" asp-append-version="true"></script>
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="~/wwwroot/js/admin-js/app.js" type="text/javascript" asp-append-version="true"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="~/wwwroot/js/admin-js/ui-tree.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/wwwroot/js/admin-js/bootstrap-select/components-bootstrap-select.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/wwwroot/js/admin-js/bootstrap-select/bootstrap-select.js" type="text/javascript" asp-append-version="true"></script>
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src=".~/wwwroot/js/layout/layout.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/wwwroot/js/layout/demo.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/wwwroot/js/admin-js/quick-sidebar.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/wwwroot/js/admin-js/quick-nav.js" type="text/javascript" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
       <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="http://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script src="~/wwwroot/js/admin-js/js.cookie.min.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/wwwroot/js/admin-js/slim-scroll/jquery.slimscroll.min.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/wwwroot/js/admin-js/jquery.blockui.min.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/wwwroot/js/admin-js/bootstrap-switch/bootstrap-switch.min.js" type="text/javascript" asp-append-version="true"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="~/wwwroot/js/admin-js/js-tree/jstree.min.js" type="text/javascript" asp-append-version="true"></script>
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="~/wwwroot/js/admin-js/app.min.js" type="text/javascript" asp-append-version="true"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="~/wwwroot/js/admin-js/ui-tree.min.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/wwwroot/js/admin-js/bootstrap-select/components-bootstrap-select.min.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/wwwroot/js/admin-js/bootstrap-select/bootstrap-select.min.js" type="text/javascript" asp-append-version="true"></script>
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src=".~/wwwroot/js/layout/layout.min.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/wwwroot/js/layout/demo.min.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/wwwroot/js/admin-js/quick-sidebar.min.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/wwwroot/js/admin-js/quick-nav.min.js" type="text/javascript" asp-append-version="true"></script>    
        <script>
            $(document).ready(function()
            {
                $('#clickmewow').click(function()
                {
                    $('#radio1003').attr('checked', 'checked');
                });
            })
        </script>
        <script>
        $('.bs-select').selectpicker({
  style: 'btn-default'
});
</script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>