<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content=" " name="description" />
    <meta content="" name="author" />
    <title>@ViewData["Title"] - YPM.Web</title>

   
</head>
<body>
   
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - YPM.Web</p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>