@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content=" " name="description" />
    <meta content="" name="author" />
    <title>@ViewData["Title"] - YPM.Web</title>
    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="~/lib/site/dist/css/css?family=Open+Sans:400,300,600,700&subset=all" />
        <link rel="stylesheet" type="text/css" href="~/lib/site/dist/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="~/wwwroot/css/admin/simple-line-icons/simple-line-icons.css" />
        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="~/wwwroot/css/admin/bootstrap-switch/bootstrap-switch.css" />
        <link rel="stylesheet" type="text/css" href="~/wwwroot/css/admin/components.css" id="style_components" />
        <link rel="stylesheet" type="text/css" href="~/wwwroot/css/admin/plugins.css" />
        <link rel="stylesheet" type="text/css" href="~/wwwroot/css/admin/jstree/style.css" />
        <link rel="stylesheet" type="text/css" href="~/wwwroot/css/admin/layout/layout.css" />
        <link rel="stylesheet" type="text/css" href="~/wwwroot/css/admin/layout/default.css" id="style_color" />
        <link rel="stylesheet" type="text/css" href="~/wwwroot/css/admin/bootstrap-select/bootstrap-select.css" />
    </environment>
    <environment exclude="Development">

        <link rel="stylesheet"
              type="text/css"
              href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all"
              asp-fallback-href="~/lib/site/dist/css/css.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute" />

        <link rel="stylesheet"
              integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
              crossorigin="anonymous"
              href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
              asp-fallback-href="~/lib/site/dist/css/all.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute" />

        <link rel="stylesheet" type="text/css"
              href="~/wwwroot/css/admin/simple-line-icons/simple-line-icons.min.css"
              asp-append-version="true" />

        <link rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous"
              href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute" />

        <link rel="stylesheet" type="text/css"
              href="~/wwwroot/css/admin/bootstrap-switch/bootstrap-switch.min.css"
              asp-append-version="true" />

        <link rel="stylesheet" type="text/css" id="style_components"
              href="~/wwwroot/css/admin/components.min.css"
              asp-append-version="true" />

        <link rel="stylesheet" type="text/css"
              href="~/wwwroot/css/admin/plugins.min.css"
              asp-append-version="true" />

        <link rel="stylesheet" type="text/css"
              href="~/wwwroot/css/admin/jstree/style.min.css"
              asp-append-version="true" />

        <link rel="stylesheet" type="text/css"
              href="~/wwwroot/css/admin/layout/layout.min.css"
              asp-append-version="true" />

        <link rel="stylesheet" type="text/css" id="style_color"
              href="~/wwwroot/css/admin/layout/default.min.css"
              asp-append-version="true" />

        <link rel="stylesheet" type="text/css"
              href="~/wwwroot/css/admin/bootstrap-select/bootstrap-select.min.css"
              asp-append-version="true" />
    </environment>
</head>
<body>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - YPM.Web</p>
        </footer>
    </div>

    <environment include="Development">

        <script src="~/lib/site/dist/js/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/wwwroot/js/admin/js.cookie.js" type="text/javascript"></script>
        <script src="~/wwwroot/js/admin/slimscroll/jquery.slimscroll.js" type="text/javascript"></script>
        <script src="~/wwwroot/js/admin/jquery.blockui.js" type="text/javascript"></script>
        <script src="~/wwwroot/js/admin/bootstrap-switch/bootstrap-switch.js" type="text/javascript"></script>
        <script src="~/wwwroot/js/admin/jstree/jstree.js" type="text/javascript"></script>
        <script src="~/wwwroot/js/admin/app.js" type="text/javascript"></script>
        <script src="~/wwwroot/js/admin/uitree/ui-tree.js" type="text/javascript"></script>
        <script src="~/wwwroot/js/admin/bootstrap-select/components-bootstrap-select.js" type="text/javascript"></script>
        <script src="~/wwwroot/js/admin/bootstrap-select/bootstrap-select.js" type="text/javascript"></script>
        <script src="~/wwwroot/js/admin/layout/layout.js" type="text/javascript"></script>
        <script src="~/wwwroot/js/admin/layout/demo.js" type="text/javascript"></script>
        <script src="~/wwwroot/js/admin/layout/quick-sidebar.js" type="text/javascript"></script>
        <script src="~/wwwroot/js/admin/layout/quick-nav.js" type="text/javascript"></script>
    </environment>
    <environment exclude="Development">

        <script src="http://code.jquery.com/jquery-1.12.4.min.js"
                asp-fallback-src="~/lib/site/dist/js/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=">
        </script>

        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>

        <script type="text/javascript"
                src="~/wwwroot/js/admin/js.cookie.min.js"
                asp-append-version="true">
        </script>

        <script type="text/javascript"
                src="~/wwwroot/js/admin/slimscroll/jquery.slimscroll.min.js"
                asp-append-version="true">
        </script>

        <script type="text/javascript"
                src="~/wwwroot/js/admin/jquery.blockui.min.js"
                asp-append-version="true">
        </script>

        <script type="text/javascript"
                src="~/wwwroot/js/admin/bootstrap-switch/bootstrap-switch.min.js"
                asp-append-version="true">
        </script>

        <script type="text/javascript"
                src="~/wwwroot/js/admin/jstree/jstree.min.js"
                asp-append-version="true">
        </script>

        <script type="text/javascript"
                src="~/wwwroot/js/admin/app.min.js"
                asp-append-version="true">
        </script>

        <script type="text/javascript"
                src="~/wwwroot/js/admin/uitree/ui-tree.min.js"
                asp-append-version="true">
        </script>

        <script type="text/javascript"
                src="~/wwwroot/js/admin/bootstrap-select/components-bootstrap-select.min.js"
                asp-append-version="true">
        </script>

        <script type="text/javascript"
                src="~/wwwroot/js/admin/bootstrap-select/bootstrap-select.min.js"
                asp-append-version="true">
        </script>

        <script type="text/javascript"
                src="~/wwwroot/js/admin/layout/layout.min.js"
                asp-append-version="true">
        </script>

        <script type="text/javascript"
                src="~/wwwroot/js/admin/layout/demo.min.js"
                asp-append-version="true">
        </script>

        <script type="text/javascript"
                src="~/wwwroot/js/admin/layout/quick-sidebar.min.js"
                asp-append-version="true">
        </script>

        <script type="text/javascript"
                src="~/wwwroot/js/admin/layout/quick-nav.min.js"
                asp-append-version="true">
        </script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>