@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Giris";
    Layout = "~/Views/Shared/_AnaCerceve.cshtml";
}

<h2>Admin Giris</h2>

<p>
    <ul>
        <li><a asp-area="admin" asp-controller="urunkategori" asp-action="tumu">Ürün Kategori Yönetim</a></li>
        <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
    </ul>
</p>

