
@{
    ViewData["Title"] = "AracTip";
    Layout = "~/Views/Shared/_BosCerceve.cshtml";
}

<div class="row">

    @await Component.InvokeAsync("UrunKategoriAracTipEkle")

</div>

<div class="row">

    @await Component.InvokeAsync("UrunKategoriAracTipListele")

</div>

